.weather-app-wrapper {
  max-width: 800px;
  margin-top: 35px;
  margin: 0 auto;
}
.weather-app {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
}

.city {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}
.temperature {
  color: #212121;
  font-weight: 400;
  margin-left: 10px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1;
  margin: 0;
}
.unit {
  color: #212121;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -25px;
  left: -15px;
}

.current-weather {
  text-align: right;
}

.current-weather img {
  margin-right: 10px;
  margin-top: -40px;
}
li {
  list-style: none;
  margin-left: -30px;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}
